name: Android CI

on:
  push:
    branches:
      - main
      - develop
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      REQRES_API_KEY: ${{ secrets.REQRES_API_KEY }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Recreate keystore file
        run: |
          mkdir -p keystore
          echo "${{ secrets.RELEASE_KEYSTORE_BASE64 }}" | base64 -d > keystore/release-key.jks

      - name: Create keystore.properties
        run: |
          cat <<EOF > keystore/keystore.properties
          storePassword=${{ secrets.RELEASE_STORE_PASSWORD }}
          keyPassword=${{ secrets.RELEASE_KEY_PASSWORD }}
          keyAlias=${{ secrets.RELEASE_KEY_ALIAS }}
          storeFile=keystore/release-key.jks
          EOF

      - name: Build Debug APK
        run: ./gradlew assembleDebug

      - name: Build Prod Release AAB
        run: ./gradlew bundleProdRelease

      - name: Upload Prod Release AAB
        uses: actions/upload-artifact@v4
        with:
          name: prod-release-aab
          path: app/build/outputs/bundle/prodRelease/app-prod-release.aab